BOT_TOKEN=token

DJANGO_SECRET_KEY=key

DJANGO_SUPERUSER_USERNAME=amigo
DJANGO_SUPERUSER_PASSWORD=browser
DJANGO_SUPERUSER_EMAIL=vasya@mail.ru

POSTGRES_DATABASE=database
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=hostname

SERVER_PORT=port
