BOT_TOKEN=token

DJANGO_SECRET_KEY=key

DJANGO_SUPERUSER_USERNAME=amigo
DJANGO_SUPERUSER_PASSWORD=browser
DJANGO_SUPERUSER_EMAIL=vasya@mail.ru

POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres

SERVER_PORT=8000
